@{ 
    Layout = null;
}
 

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>缩略图</title>

    <meta name="keywords" content="cc">
    <meta name="description" content="cc">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
</head>
<body class="fixed-sidebar full-height-layout transparent-bg" style="overflow:hidden;background-image:url( @ViewBag.img );background-repeat:no-repeat;background-size:cover;width:225px;height:150px;">


    <div style='width:225px;height:150px;'>
    </div>
</body>
</html>