@{
    ViewBag.Title = "zhuye";
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>yiwanbaqianli</title>
<meta http-equiv="imagetoolbar" content="no">
<style type="text/css">
	html {
		overflow: hidden;
	}
	body {
		background: #222;
		width: 100%;
		height: 100%;
		cursor: crosshair;
	}
	.spanSlide {
		position: absolute;
		background: #000;
		font-size: 1px;
		overflow: hidden;
	}
	.imgSlide {
		position: absolute;
		left: 5%;
		top: 5%;
		width: 90%;
		height: 90%;
		overflow: hidden;
	}
	.txtSlide {
		position: absolute;
		top: 5%;
		left: 50px;
		width:100%;
		color:#FFF;
		font-family: arial, helvetica, verdana, sans-serif;
		font-weight: bold;
		font-size:96px;
		letter-spacing:12px;
		filter: alpha(opacity=70);
		-moz-opacity:0.7;
		opacity:0.7;
	}
	.bgmdv{ color:#fffefe;font-size:12px;cursor:pointer }
	.bgmdv a{ color:#fffefe; }
    /*播放器*/
.audiospan { margin-right:15px; }
.play-box .left {
width: 140px;  
}.play-box .tsize {
width: 240px; 
}		
.play-box .left p.timeline {
    width: 140px;
    height: 4px;
    background-color: rgba(256, 256, 256, 0.6);
    border-radius: 5px;
    margin-top: 1.2rem;
    z-index: 2; 
}
.play-box .left p.timeline {
    padding-bottom: 1px;
}
.play-box .left p.timeline span {
    position: relative;
    width: 0px;
    height: 4px;
    background-color:#7b7b7b;
    border-radius: 5px;
    display: block;
    -webkit-transition: width ease-out 0.3s;
    -o-transition: width ease-out 0.3s;
    transition: width ease-out 0.3s;
}

.play-box .left p.timeline span:after {
    content: "";
    position: absolute;
    top: -3px;
    right: -8px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #7b7b7b;
}
.play-box .left div.info {
    height: 26px;
    font-size: 0.8rem;
    color: #ffffff;
    position: relative;
    top: -0.65rem;
    z-index: 1;
}
.play-box  .timenow {
    float: left;
    display: block;
}
.play-box  .timesize {
    margin-left:90px;
    float: left;
    display: block;
}
</style>

<script type="text/javascript">

var ym=0;
var ny=0;

createElement = function(container, type, param){
	o=document.createElement(type);
	for(var i in param)o[i]=param[i];
	container.appendChild(o);
	return o;
}

mooz = {
	O:[],
	/////////
	mult:6,
	nbI:5,
	/////////
	rwh:0,
	imgsrc:0,
	W:0,
	H:0,

	Xoom:function(N){
		this.o = createElement(document.getElementById("screen"), "span", {
			'className':'spanSlide'
		});
		img = createElement(this.o, "img", {
			'className':"imgSlide",
			'src':mooz.imgsrc[N%mooz.imgsrc.length].src
		});
		spa = createElement(this.o, "span", {
			'className':"imgSlide"
		});
		txt = createElement(spa, "span", {
			'className':"txtSlide",
			'innerHTML':mooz.imgsrc[N%mooz.imgsrc.length].title
		});
		this.N = 10000+N;
	},

	mainloop:function(){
		with(this){
			for(i=0; i<mooz.nbI; i++) {
				O[i].N += (ym-ny)/8000;
				N = O[i].N%nbI;
				ti = Math.pow(mult,N);
				with(O[i].o.style){
					left   = Math.round((W-(ti*rwh))/(W+ti)*(W*.5))+"px";
					top    = Math.round((H-ti)/(H+ti)*(H*.5))+"px";
					zIndex = Math.round(10000-ti*.1);
					width  = Math.round(ti*rwh)+"px";
					height = Math.round(ti)+"px";
				}
			}
		}
		setTimeout("mooz.mainloop();", 16);
	},

	oigres:function(){
		with(this){
			W = parseInt(document.getElementById("screen").style.width);
			H = parseInt(document.getElementById("screen").style.height);
			imgsrc = document.getElementById("images").getElementsByTagName("img");
			rwh = imgsrc[0].width/imgsrc[0].height;
			for(var i=0;i<nbI;i++) O[i] = new Xoom(i);
			mainloop();
		}
	}
}

document.onmousemove = function(e){
	if(window.event) e=window.event;
	ym = (e.y || e.clientY);
	if(ym/2>ny)ny=ym/2;
}

window.onload = function(){
	ym = ny+50;
	mooz.oigres();

    // song 
	setTimeout(function () {
	    var songinfo = songinfoarr[7];
	    window.songinfo = songinfoarr;
	    window.songN = 7;
	    document.getElementById('audiospan').innerText = songinfo.name;
	    document.getElementById('audio').src = songinfo.url
        playbox.init('playbox');
	    //playbox.player.src = songinfo.url;
        playbox.player.onended = sdown; // 播放结束调用下一曲函数
        playbox.player.ontimeupdate = timespanchange;
        playbox.player.onloadeddata = timespanf;
	    playOrPause();
	    //playbox.player.loop // 循环 可audio上直接标签添加loop=""
	    //playbox.player.duration // 音乐长度
	    //playbox.player.currentTime =150  // 当前时间
	    //playbox.player.paused  //是否暂停
	    //playbox.player.load(); //重新加载  //.play() 播放 //.pause() 暂停
	}, 1000);

    // 进度条控制
	document.getElementsByClassName('timeline')[0].onclick = function (e) {
	    var x = e.pageX - this.offsetLeft;
	    var X = x < 0 ? 0 : x;
	    var W = this.clientWidth;
	    var place = X > W ? W : X;
	    playbox.player.currentTime = (place / W).toFixed(2) * playbox.player.duration
	    this.children[0].style.width =
             (place / W).toFixed(2) * 100 + "%";
	}
}

function timespanchange() {
    document.getElementsByClassName('timenow')[0].innerText = s_to_hs(playbox.player.currentTime);
    document.getElementsByClassName('timeline')[0].children[0].style.width =
         (playbox.player.currentTime / playbox.player.duration).toFixed(4) * 100 + "%";
    
}
function timespanf() {
    document.getElementsByClassName('timesize')[0].innerText = s_to_hs(playbox.player.duration);
}
function loops(e) {
    var ln = e.getAttribute('data-loops'); 
    if (ln == 0) { e.setAttribute('data-loops', 1); e.firstElementChild.innerText = "「1」"; }
    else if (ln == 1) { e.setAttribute('data-loops', 2); e.firstElementChild.innerHTML = "&nbsp;&nbsp;↓↑&nbsp;&nbsp;"; }
    else if (ln == 2) { e.setAttribute('data-loops', 0); e.firstElementChild.innerText = "「A」"; }
}
function sup() {
    var i = window.songN - 1;
    if (i < 0) i = window.songinfo.length - 1;
    var ln = document.getElementById('loopspan').getAttribute('data-loops');
    if (ln == 1) i = window.songN;
    if (ln == 2) i = Math.floor(Math.random() * 10000) % window.songinfo.length
    window.songN = i;
    document.getElementById('audiospan').innerText = window.songinfo[i].name;
    playbox.player.src = window.songinfo[i].url;
    playbox.player.play();
    playbox.box.firstElementChild.innerText = "❚❚";
}
function sdown() {
    var i = window.songN + 1;
    if (i >= window.songinfo.length) i = 0;
    var ln = document.getElementById('loopspan').getAttribute('data-loops');
    if (ln == 1) i = window.songN;
    if (ln == 2) i = Math.floor(Math.random() * 10000) % window.songinfo.length
    window.songN = i;
    document.getElementById('audiospan').innerText = window.songinfo[i].name;
    playbox.player.src = window.songinfo[i].url;
    playbox.player.play();
    playbox.box.firstElementChild.innerText = "❚❚";
}
function playOrPause() {
    if (playbox.player.paused) {
        playbox.player.play();
    playbox.box.firstElementChild.innerText = "❚❚"; }
    else {
        playbox.player.pause();
    playbox.box.firstElementChild.innerText = "▶"; }
}
function s_to_hs(s) {
    var h;
    h = Math.floor(s / 60);
    s = Math.floor(s % 60);
    h += '';
    s += '';
    s = (s.length == 1) ? '0' + s : s;
    return h + ':' + s;
}

</script>
</head>

<body>
    <div class="bgmdv">
        京&nbsp;ICP&nbsp;证&nbsp;17049329&nbsp;号
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1276849887'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s96.cnzz.com/z_stat.php%3Fid%3D1276849887%26online%3D2' type='text/javascript'%3E%3C/script%3E"));</script><br />
        <span id="loopspan" class="audiospan" data-loops="2" onclick="loops(this)"><a>&nbsp;&nbsp;↓↑&nbsp;&nbsp;</a></span><span onclick="sup()" class="audiospan"><a>I◀</a></span>
        <span id="playbox" class="audiospan" onclick="playOrPause(); return false;">
            <a>▶</a><audio src="" id="audio">
        </span><span onclick="sdown()" class="audiospan"><a>▶I</a></span><span onclick="playbox.player.currentTime=0;"><a>↻</a></span><br><!--喜马拉雅外链-->
        <span id="audiospan"></span><br />
        <span class="play-box">
            <span class="tsize center-block">
                <span class="timenow">00:00</span>
                <span class="timesize">00:00</span>
            </span>
            <span class="left center-block">
                <p class="timeline center-block"><span style=""></span></p>
            </span>
        </span><br>
        <span id="audiospan"></span><br />

    </div>
<div style="position:absolute;left:50%;top:50%">
	<div style="position:absolute;width:720px;height:560px;left:-360px;top:-280px;background:#fff"></div>
	<div style="position:absolute;left:-40px;top:-6px;color:#000;font-family:arial;font-size:0.9em">Loading...</div>
	<div id="screen" style="position:absolute;width:640px;height:480px;left:-320px;top:-240px;overflow:hidden"></div>
</div>

<div id="images" style="visibility:hidden">
	<img title="cosmonaut"    src="~/Content/2/1.jpg">
    <img title="boss" src="~/Content/2/2.jpg">
	<img title="summer"   src="~/Content/2/4.jpg">
	<img title="cicada"  src="~/Content/2/5.jpg">
    <img title="prier" src="~/Content/2/3.jpg">
    <script src='@Url.Content("~/Content/songinfo.js?" + DateTime.Now.ToString("HHmmss.fff"))'></script>
    <script src="~/Content/audio.js"></script>
</div>
</body>
</html>